html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}

.map-wrapper {
  width: 100%;
  height: 600px;
  position: relative;
  background: #A3CCFF;
  top: -22px;
  margin-bottom: 20px;

  &::before {
    width: 40px;
    height: 40px;
    margin: -20px 0 0 -20px;
    background-color: #333;
    content: " ";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;

    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
  }
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0)
  }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}